@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid 1px white;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background: linear-gradient(0deg, #E9555E, #293F8E);
    padding: 1rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: white;
    top: 1rem;
    left: 50%;
    font-size: 1.4rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top {
    display: flex;
    align-items: center;
}

.sidebar .top .logo {
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar .top .logo span {
    font-size: 1.2rem;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo img {
    font-size: 2rem;
    margin-left: 14px;
    margin-right: 25px;
}

/* .top .logo img {
    margin-right: 10px;
} */

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: white;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.5rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: white;
    color: black;
}

.sidebar ul li a i {
    font-size: 1.4rem;
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 135px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1,8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    background-color: whitesmoke;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
}

.main-content__top {
    padding: 1rem 1.5rem;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}

.main-content__top h1 {
    font-size: 2.5rem;
    background-image: linear-gradient(90deg, #293F8E, #E9555E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hr {
    border: 1px solid #E2E8F0;
    border-bottom-width: 0;
}

.container {
    padding: 2rem 3rem;
}

.main-content__history {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.history-title h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
}

.history-search input{
    width: 342px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 1000px;
    border: 1px solid var(--neutral-40, #E2E8F0);
    background: var(--neutral-10, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.history-search i {
    color: white;
    font-size: 1.1rem;
    padding: 0.75rem;
    background-image: linear-gradient(135deg, #293F8E, #E9555E);
    border-radius: 1000px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.history-search i:hover {
    transform: scale(1.1);
}

.history-table {
    margin-top: 2rem;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    /* border: 3px solid purple; */
}

table th {
    text-align: start;
	font-weight: bold;
	padding: 1rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.16px;
    background-color: #efefef;
	/* background: #efefef;
	border: 1px solid #dddddd; */
}

table td {
	/* border: 1px solid #dddddd; */
	padding: 1.25rem 1rem;
    color: #344055;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
}

table tr:nth-child(odd) td:nth-child(5) {
    color: green;
}

table tr:nth-child(even) td:nth-child(5) {
    color: red;
}

.history-btn {
    text-align: center;
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    width: 16.5rem;
    background: linear-gradient(135deg, #293F8E, #E9555E);
    border-radius: 1000px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.history-btn:hover {
    transform: scale(1.1);
}

.history-btn p {
    color: white;
    font-size: 1.125rem;
}

.history-bottom {
    position: fixed;
    left: 128px;
    bottom: 0;
    padding: 0.875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    /* background-color: #efefef; */
    transition: all 0.5s ease;
}

.history-bottom.active {
    left: 298px;
}

.next-icons img {
    cursor: pointer;
}